/* CSS adopted from google.com using developers tools */ 

.sform{
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 15px auto;
  width: 382px;
}

 .sinput {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.buttonHolder { 
text-align: center; 
}

div.aform {
  display: inline-block;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;
}

div.ainput {
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
  width: 50%;
}

.abutton {
  height: 30px;
  box-shadow: none;
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
}

#searchform {
  position: absolute;
  top: 211px;
  width: 100%;
}

#hplogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.adinput {
  padding-right: 16px;
  height: 30px;
  min-width: 167px;
  
}

label {
  height: 30px;
  vertical-align: middle;
  float: left;
  min-width: 167px;
  height: 20px;
  color: #222;
  font-size: 13px;
  font-family: arial,sans-serif;
  line-height: 16px; 
  margin: auto; 
}